<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanningzhuanqian.vscreenshot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk android:targetSdkVersion="24" />
    <application
        android:name=".base.VSSApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".m00_launcher.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".m00_launcher.user.LoginActivity"/>
        <activity android:name=".m00_launcher.user.ProtocolActivitity"/>
        <activity android:name=".m00_launcher.user.RegisterActivity"/>
        <activity android:name=".m00_launcher.user.ResetPwdActivity"/>

        <activity android:name=".m00_base.LocalAvatarSelectActivity" />
        <activity android:name=".m00_base.NetworkAvatarSelectActivity"/>

        <activity android:name=".m01_wechat.wechat.main.WechatMainActivity"/>

        <activity android:name=".m01_wechat.wechat.bill.WechatBillActivity"/>
        
        <activity android:name=".m01_wechat.wechat.change.WechatChangeActivity"/>
        <activity android:name=".m01_wechat.wechat.change.WechatChangeDetailActivity"/>
        <activity android:name=".m01_wechat.wechat.change.WechatChangeWithdrawActivity"/>
        <activity android:name=".m01_wechat.wechat.change.WechatSingleChangeDetailActivity"/>
        <activity android:name=".m01_wechat.wechat.change.WechatWithdrawDetailActivity"/>

        <activity android:name=".m01_wechat.wechat.chat.WechatGroupChatActivity"/>
        <activity android:name=".m01_wechat.wechat.chat.WechatSingeChatActivity"/>

        <activity android:name=".m01_wechat.wechat.contract.WechatNewFriendActivity"/>
        
        <activity android:name=".m01_wechat.wechat.moment.AddTextMomentActivity" />
        <activity android:name=".m01_wechat.wechat.moment.AddImageMomentActivity" />
        <activity android:name=".m01_wechat.wechat.moment.AddVideoMomentActivity" />
        <activity android:name=".m01_wechat.wechat.moment.AddLinkMomentActivity" />
        <activity android:name=".m01_wechat.wechat.moment.WechatLocationEditActivity" />
        <activity android:name=".m01_wechat.wechat.moment.WechatPermissionEditActivity" />
        <activity android:name=".m01_wechat.wechat.moment.WechatPromptEditActivity" />
        <activity android:name=".m01_wechat.wechat.moment.WechatMomentActivity"/>

        <activity android:name=".m01_wechat.wechat.pay.WechatPayActivity"/>

        <activity android:name=".m01_wechat.wechat.redpacket.WechatRedPacketActivity"/>
        <activity android:name=".m01_wechat.wechat.redpacket.WechatRedPacketResultActivity"/>
        <activity android:name=".m01_wechat.wechat.redpacket.WechatRedPacketResult1Activity"/>
        <activity android:name=".m01_wechat.wechat.redpacket.WechatRedPacketResult2Activity"/>
        <activity android:name=".m01_wechat.wechat.redpacket.WechatRedPacketResult3Activity"/>

        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferActivity"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity" />
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity1"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity2"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity3"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity4"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity5"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity6"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity7"/>
        <activity android:name=".m01_wechat.wechat.transfer.WechatTransferResultActivity8"/>

        <activity android:name=".m01_wechat.wechat.wallet.WechatWalletActivity"/>

        <activity android:name=".m01_wechat.wechat.background.WeChatBgSelectActivity"/>

        <activity android:name=".m01_wechat.custom.AddCustomConversationActivity"/>
        <activity android:name=".m01_wechat.custom.AddCustomContactActivityNew"/>
        <activity android:name=".m01_wechat.custom.AddCustomContactActivity" />
        <activity android:name=".m01_wechat.custom.WechatChangeEditActivity"/>
        <activity android:name=".m01_wechat.custom.AddCustomWechatChangeDetailActivity"/>
        <activity android:name=".m01_wechat.custom.WechatChooseSingleChatActivity"/>
        <activity android:name=".m01_wechat.custom.WechatConversationSettingActivity"/>
        <activity android:name=".m01_wechat.custom.WechatCustomNewFriendActivity"/>
        <activity android:name=".m01_wechat.custom.WechatGlobalSettingActivity"/>

        <activity android:name=".m05_user.UserInfoActivity" />
        <activity android:name=".m04_recharge.RechargeActivity" />
        <activity
            android:name=".m00_launcher.main.MainActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".m06_setting.FeedbackActivity" />
        <activity android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".m00_launcher.bank_card.BankCardManagerActivity"/>
        <activity android:name=".m00_launcher.bank_card.EditBankCardActivity"/>
    </application>

</manifest>